## 기출 7회 변형 풀이

### 작업 1유형

In [3]:
import pandas as pd
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv '

df = pd.read_csv(DataUrl)

In [4]:
# 1-1 국어,수학,영어,과학 과목 중 가장 많은 학생들이 응시한 시험을 선택하고 해당과목의 점수를 표준화 했을 때 가장 큰 표준화 점수를 구하여라
a = df.count()
most = df['국어']
most = (most - most.mean())/most.std(ddof=0)
print(most)
most.max()

0    -1.060650
1     1.293476
2    -1.396954
3    -0.388043
4    -1.144726
5          NaN
6     0.620868
7     0.789020
8     1.713856
9     0.284565
10   -0.640271
11   -1.228802
12    0.873096
13         NaN
14    0.284565
Name: 국어, dtype: float64

1.713855688712825

In [5]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv '

df = pd.read_csv(DataUrl)

In [6]:
# 1-2
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p2.csv'

import pandas as pd
df = pd.read_csv(DataUrl).iloc[:,:32]
df.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_23,var_24,var_25,var_26,var_27,var_28,var_29,var_30,var_31,var_32
0,-1.391002,-0.850983,-0.513691,0.368566,-0.995870,-0.462845,0.712370,-0.002177,0.930968,-0.783445,...,-0.391592,2.012210,-0.192955,-0.454944,3.239665,0.443087,-0.447287,1.866867,0.160321,-0.731065
1,0.784527,-0.498734,0.390508,1.791571,0.146126,0.105268,1.742046,-0.529215,0.408849,-0.444730,...,0.223946,0.413712,1.825242,-0.277639,-0.915250,0.677434,0.895608,0.184602,0.478908,1.199653
2,0.123739,-0.738247,-0.841689,1.416952,-1.074132,-1.583617,2.233604,1.355339,0.526923,-1.083996,...,0.299732,-0.622756,0.035789,-0.473762,-0.417011,0.725215,-0.308298,1.391172,-1.965324,0.876690
3,-0.063011,-0.643285,-0.703891,-0.069113,-0.299132,1.666068,-0.692570,-1.670728,-0.711482,0.020709,...,0.837597,-0.631480,0.629603,0.269285,0.383614,-0.498738,-0.349557,0.188382,-0.870678,1.087722
4,-2.141459,1.597715,0.852253,-1.209324,0.435828,-0.359420,0.232829,0.051568,-0.114399,-0.303520,...,1.393643,-0.242140,0.557022,2.344906,0.427841,-0.679836,0.325272,1.419639,-0.978851,-0.779148

In [7]:
df.corr()['var_11'].abs().sort_values() #var_4
df['var_4'].mean()

-0.0742760918778161

In [8]:
max_v = df.corr()['var_11'].abs().sort_values().index[-2]
r = df[max_v].mean()
print(r)

-0.0742760918778161

In [9]:
# 1_3 **var_6 컬럼의 1,3사분위수 각각 IQR의 1.5배 벗어난 이상치의 개수를 구하라 **
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p3.csv'

df = pd.read_csv(DataUrl)
df.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,var_11,var_12
0,-0.401584,0.007198,-0.134910,-0.419514,-0.686331,-1.174550,-0.499150,-0.557510,0.357347,0.844209,0.082097,0.475098
1,1.064622,-0.531247,0.571185,-0.762243,-1.456043,0.355432,0.880010,0.523183,-0.141733,0.301472,0.840299,-0.045113
2,0.900195,-1.148496,-0.718437,-2.315266,-0.755505,0.630923,0.586027,0.086497,-0.381657,-1.602532,1.566340,-0.654105
3,1.199227,-0.114200,0.101536,-1.851971,-0.672844,0.796077,0.644246,-0.836296,-1.707074,0.376281,1.303967,1.228015
4,0.607393,1.675917,1.063759,-0.799493,-0.959568,-0.103007,-0.245984,-0.059492,0.293592,-0.517044,0.100772,0.403833

In [10]:
target = df['var_6']
q1 = target.quantile(0.25)
q3 = target.quantile(0.75)
iqr = q3-q1
 
# IQR의 1.5배 벗어난 이상치
min = q1-1.5*iqr
max = q3+1.5*iqr

r = df[(df['var_6']<min)|(df['var_6']>max)] #var_6에서 이상치의 개수를 count

r.shape[0]

8

### 작업 2유형