In [1]:
import pandas as pd

## Question1

In [13]:
# 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv"
df = pd.read_csv(dataurl)

In [3]:
df.head()
cols = df.columns
cols

Index(['Unnamed: 0', 'title', 'channelTitle', 'categoryId', 'view_count',
       'likes', 'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [4]:
# Q1 인기동영상 제작횟수가 많은 채널 상위 10개명을  출력하라 (날짜기준, 중복포함)
a = df.channelId.value_counts()
b = a.head(10).index # channelID에 대해 반환
c = df.channelId.isin(b)  # b에 포함되는 ID에 대해 boolean series 반환
d = df.loc[c]
e = d.channelTitle.unique()
ans = list(e)
ans

['장삐쭈',
 '총몇명',
 '파뿌리',
 '짤툰',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

In [5]:
# Q2 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라
ans = list(df.loc[df.dislikes>df.likes].channelTitle.unique())
ans

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

In [6]:
# Q3 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

# channelID는 동일한데 channelTitle이 바뀐 경우에 출력
# channelTitle의 unique값을 추출
# channelID에 대해 행의 개수가 1보다 큰 경우

cnt = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = cnt[cnt>1]
ans = len(target)
ans

71

In [27]:
# Q4 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?
df['trending_date2'] # select col, dtype : object
df['trending_date2'] = pd.to_datetime(df['trending_date2']) # change col value
a = df.loc[df.trending_date2.dt.day_name() == 'Sunday']
b = a.categoryId.value_counts()
ans = b.index[0]
ans

24

In [29]:
# Q5 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer = group.pivot(index='categoryId', columns='trending_date2')
answer

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [33]:
# Q6 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)
target2 = df.loc[df.view_count!=0] # view_count가 0이 아닌 영상 중
t = target2.copy() # target2를 수정하지 않기위해
t['ratio'] = (target2['comment_count']/target2['view_count'])
answer = t.sort_values(by='ratio', ascending=False).iloc[0].title
answer

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [36]:
# Q7 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)
target3 = t.loc[t.ratio != 0]
answer = target3.sort_values(by='ratio', ascending=True).iloc[0].title
answer

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [46]:
# Q8 like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)
target4 = df.loc[(df.likes != 0) & (df.dislikes!= 0)]
t = target4.copy()
t['ratio'] = t['dislikes']/t['likes']
answer = t.sort_values(by='ratio', ascending=True)
answer = answer.iloc[0].title
answer

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [54]:
# Q9 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)
a = df.channelId.value_counts()
b = a.index[0]
answer = df.loc[df.channelId == b].channelTitle.unique()[0]
answer
# answer = df.loc[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()[0]
# print(answer)

'짤툰'

In [65]:
# Q10 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?
a = df[['title','channelId']]
b = a.value_counts()
c = (b>=20).sum()
c

40

## Question2

In [68]:
# 데이터 설명 : 유튜브 "공범" 컨텐츠 동영상 정보
dataurl1 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv'
dataurl2 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'

In [69]:
import pandas as pd

channel = pd.read_csv(dataurl2)
video = pd.read_csv(dataurl1)
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [117]:
# Q11 각 데이터의 'ct'컬럼을 시간으로 인식할 수 있게 datatype을 변경하고 video데이터의 videoname의 각 value마다 몇 개의 데이터씩 가지고 있는지 확인하라
video.ct = pd.to_datetime(video.ct)
channel.ct = pd.to_datetime(channel.ct)

a = video.videoname.value_counts()
a

videoname
 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: count, dtype: int64

In [93]:
# Q12 수집된 video의 가장 최신화 된 날짜의 viewcount값을 출력하라
a = video.groupby(['videoname'], as_index=False)['ct'].max()
b = pd.merge(a, video, on=['videoname','ct'],how='inner')[['videoname','viewcnt','ct']]
b

  videoname  viewcnt                   ct
0    공범 EP1  3180532  2021-11-01 15:30:03
1    공범 EP2  2199328  2021-11-01 15:30:03
2    공범 EP3  1671294  2021-11-01 15:30:03
3    공범 EP4  1818493  2021-11-01 15:30:03
4    공범 EP5  1503435  2021-11-01 15:30:04
5    공범 EP6  1750222  2021-11-01 15:30:04
6    공범 EP7  1630200  2021-11-01 15:30:05
7    공범 EP8  1289088  2021-11-01 15:30:05

In [99]:
channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [109]:
# Q13 Channel 데이터 중 2021-10-03일 이후 각 채널의 처음 기록됐던 구독자 수(subcnt)를 출력하라
condition = (channel['ct']>'2021-10-03')
target = channel[condition]
a = target.groupby(['channelname'])['ct'].min()
b = pd.merge(a,channel,on=['ct','channelname'],how='inner')[['channelname','subcnt']]
b

        channelname   subcnt
0     Balming Tiger    54300
1     곽토리 kwak tori   471000
2        김농밀의 농밀한 삶     7520
3               꽈뚜룹  1330000
4            논리왕 전기   922000
5       릴펄 Lilpearl    10100
6             야전삽짱재   257000
7   와글와글 WagleWagle    55000
8               조나단   215000
9        츄정ChuJeong   322000
10          형사!탐정되다    14900

In [142]:
# Q14 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라
condition1 = (channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-10-03 03')
condition2 = (channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-11-01 15')

target1 = channel[condition1]
target2 = channel[condition2]

start = target1.groupby(['channelname'])['ct'].min().reset_index()
end = target2.groupby(['channelname'])['ct'].max().reset_index()

start_sub = pd.merge(channel,start,on=['channelname','ct'])[['channelname','subcnt']]
end_sub = pd.merge(channel,end,on=['channelname','ct'])[['channelname','subcnt']]


ans = pd.merge(start_sub, end_sub ,on=['channelname'])
ans['increase'] = ans['subcnt_y'].values - ans['subcnt_x'].values
ans

        channelname  subcnt_x  subcnt_y  increase
0               꽈뚜룹   1330000   1400000     70000
1             야전삽짱재    257000    268000     11000
2        츄정ChuJeong    322000    323000      1000
3            논리왕 전기    922000    911000    -11000
4   와글와글 WagleWagle     55000     55000         0
5               조나단    215000    227000     12000
6           형사!탐정되다     14900     25200     10300
7        김농밀의 농밀한 삶      7520      9060      1540
8       릴펄 Lilpearl     10100     21100     11000
9     곽토리 kwak tori    471000    469000     -2000
10    Balming Tiger     54300     56800      2500

In [164]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

In [167]:
print(video['videoname'].dtype)

object

In [206]:
# Q15 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라
import datetime

target = video.loc[video.videoname.str.contains('1')]

a = pd.DataFrame(target.ct.diff(1))
condition1 = a.ct<=datetime.timedelta(minutes=5)
condition2 = a.ct>=datetime.timedelta(minutes=20)

ans = a[condition1|condition2]
pd.DataFrame(ans['ct']).reset_index(inplace=True)
ans

                    ct
10   -3 days +02:20:00
418    0 days 01:50:00
721    0 days 14:21:34
722    0 days 00:00:00
1636   0 days 00:30:01

In [186]:
print(help('datetime.timedelta'))

Help on class timedelta in datetime:

datetime.timedelta = class timedelta(builtins.object)
 |  Difference between two datetime values.
 |
 |  timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
 |
 |  All arguments are optional and default to 0.
 |  Arguments may be integers or floats, and may be positive or negative.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  total_seconds(...)
 |      Total seconds in the duration.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  days
 |      Number of days.
 |
 |  microseconds
 |      Number of microseconds (>= 0 and less than 1 second).
 |
 |  seconds
 |      Number of seconds (>= 0 and less than 1 day).
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.timedelta(days=999999999, seconds=86399, microseconds=9...
 |
 |  min = datetime.timedelta(days=-999999999)
 |
 |  resolution = datetime.timedelta(microseconds=1)

None

In [219]:
# Q16 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라
ans = pd.DataFrame(video.groupby(['videoname'])['ct'].min().reset_index())
ans['date'] = ans['ct'].dt.strftime('%Y-%m-%d')
ans[['videoname','date']]

  videoname        date
0    공범 EP1  2021-10-07
1    공범 EP2  2021-10-09
2    공범 EP3  2021-10-14
3    공범 EP4  2021-10-16
4    공범 EP5  2021-10-21
5    공범 EP6  2021-10-23
6    공범 EP7  2021-10-28
7    공범 EP8  2021-10-30

In [224]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8

In [249]:
# Q17 “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라
video['time'] = video.ct.dt.hour

a = video.loc[video['time']==21]
b = pd.DataFrame(a.groupby(['videoname'])['ct'].min().reset_index())
c = pd.merge(video, b, on=['videoname','ct'])
d = c[['viewcnt', 'ct', 'videoname']]
ans = d.sort_values(by='viewcnt',ascending=False)
ans

   viewcnt                  ct videoname
7   264029 2021-10-30 21:00:08    공범 EP8
5   252032 2021-10-28 21:00:04    공범 EP7
3   217674 2021-10-16 21:00:04    공범 EP4
6   213899 2021-10-23 21:00:06    공범 EP6
4   201179 2021-10-21 21:00:04    공범 EP5
1   148144 2021-10-09 21:00:03    공범 EP2
2   147183 2021-10-14 21:00:04    공범 EP3
0   117340 2021-10-07 21:00:03    공범 EP1

In [264]:
# Q18 video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라
target = pd.DataFrame(video.groupby(['videoname'])['ct'].max().reset_index())
a = pd.merge(target,video,on=['ct', 'videoname'])
a['ratio'] = a['dislikecnt']/a['likecnt']
ans = a.sort_values(by='ratio')
ans[['videoname', 'ratio']]

  videoname     ratio
6    공범 EP7  0.013636
5    공범 EP6  0.015881
3    공범 EP4  0.017971
4    공범 EP5  0.021128
2    공범 EP3  0.022360
0    공범 EP1  0.027118
1    공범 EP2  0.029844
7    공범 EP8  0.141357

In [260]:
target = video.sort_values('ct').drop_duplicates('videoname',keep='last')
target['ratio'] =target['dislikecnt'] / target['likecnt']
target

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,공범 EP4,15,0.017971
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1,15,0.027118
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,공범 EP3,15,0.022360
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,공범 EP2,15,0.029844
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,공범 EP5,15,0.021128
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,공범 EP6,15,0.015881
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,공범 EP7,15,0.013636
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15,0.141357

In [273]:
# Q19 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오
condition1 = video.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 00'
condition2 = video.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 14'
condition3 = video.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15'

start = video[condition1]
end = video[condition2]
check = video[condition3]

start_grouped = start.groupby(['videoname'])['ct'].min().reset_index()
end_grouped = end.groupby(['videoname'])['ct'].max().reset_index()
check_grouped = check.groupby(['videoname'])['ct'].min().reset_index() # can ignore

start_viewcnt = pd.merge(start_grouped, video, on=['videoname','ct'])
end_viewcnt = pd.merge(end_grouped, video, on=['videoname','ct'])

ans = pd.DataFrame({'videoname':start_grouped.videoname, 'start_viewcnt':start_viewcnt.viewcnt, 'end_viewcnt':end_viewcnt.viewcnt})

ans['change'] = ans.end_viewcnt - ans.start_viewcnt

ans[['videoname', 'change']]

  videoname  change
0    공범 EP1   13298
1    공범 EP2   10300
2    공범 EP3    9927
3    공범 EP4    9824
4    공범 EP5   10824
5    공범 EP6   14141
6    공범 EP7   26949
7    공범 EP8   89147

## 기출 7회 변형 풀이

### 작업 1유형

In [ ]:
import pandas as pd
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv '

In [ ]:
# 1-1