In [1]:
import pandas as pd

## Question1

In [13]:
# Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ïú†ÌäúÎ∏å Îç∞ÏùºÎ¶¨ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ (ÌïúÍµ≠)
dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv"
df = pd.read_csv(dataurl)

In [3]:
df.head()
cols = df.columns
cols

Index(['Unnamed: 0', 'title', 'channelTitle', 'categoryId', 'view_count',
       'likes', 'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [4]:
# Q1 Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ  Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)
a = df.channelId.value_counts()
b = a.head(10).index # channelIDÏóê ÎåÄÌï¥ Î∞òÌôò
c = df.channelId.isin(b)  # bÏóê Ìè¨Ìï®ÎêòÎäî IDÏóê ÎåÄÌï¥ boolean series Î∞òÌôò
d = df.loc[c]
e = d.channelTitle.unique()
ans = list(e)
ans

['Ïû•ÏÇêÏ≠à',
 'Ï¥ùÎ™áÎ™Ö',
 'ÌååÎøåÎ¶¨',
 'Ïß§Ìà∞',
 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê',
 'SPOTV',
 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº',
 'Ïù¥Í≥ºÏû•',
 'BANGTANTV']

In [5]:
# Q2 ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº
ans = list(df.loc[df.dislikes>df.likes].channelTitle.unique())
ans

['Ìï´ÎèÑÍ∑∏TV',
 'ASMR Ïï†Ï†ïTV',
 'ÌïòÏñÄÌä∏Î¶¨HayanTree',
 'ÏñëÌå° YangPang',
 'Ï≤†Íµ¨Ìòï (CHULTUBE)',
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§',
 '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä',
 'Ïò§Î©îÌÇ¥TV',
 'Ïú°ÏßÄÎã¥',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO',
 'Gen.G esports']

In [6]:
# Q3 Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

# channelIDÎäî ÎèôÏùºÌïúÎç∞ channelTitleÏù¥ Î∞îÎÄê Í≤ΩÏö∞Ïóê Ï∂úÎ†•
# channelTitleÏùò uniqueÍ∞íÏùÑ Ï∂îÏ∂ú
# channelIDÏóê ÎåÄÌï¥ ÌñâÏùò Í∞úÏàòÍ∞Ä 1Î≥¥Îã§ ÌÅ∞ Í≤ΩÏö∞

cnt = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = cnt[cnt>1]
ans = len(target)
ans

71

In [27]:
# Q4 ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§Ï§ë Í∞ÄÏû•ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?
df['trending_date2'] # select col, dtype : object
df['trending_date2'] = pd.to_datetime(df['trending_date2']) # change col value
a = df.loc[df.trending_date2.dt.day_name() == 'Sunday']
b = a.categoryId.value_counts()
ans = b.index[0]
ans

24

In [29]:
# Q5 Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer = group.pivot(index='categoryId', columns='trending_date2')
answer

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [33]:
# Q6 ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)
target2 = df.loc[df.view_count!=0] # view_countÍ∞Ä 0Ïù¥ ÏïÑÎãå ÏòÅÏÉÅ Ï§ë
t = target2.copy() # target2Î•º ÏàòÏ†ïÌïòÏßÄ ÏïäÍ∏∞ÏúÑÌï¥
t['ratio'] = (target2['comment_count']/target2['view_count'])
answer = t.sort_values(by='ratio', ascending=False).iloc[0].title
answer

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [36]:
# Q7 ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)
target3 = t.loc[t.ratio != 0]
answer = target3.sort_values(by='ratio', ascending=True).iloc[0].title
answer

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [46]:
# Q8 like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)
target4 = df.loc[(df.likes != 0) & (df.dislikes!= 0)]
t = target4.copy()
t['ratio'] = t['dislikes']/t['likes']
answer = t.sort_values(by='ratio', ascending=True)
answer = answer.iloc[0].title
answer

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

In [54]:
# Q9 Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)
a = df.channelId.value_counts()
b = a.index[0]
answer = df.loc[df.channelId == b].channelTitle.unique()[0]
answer
# answer = df.loc[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()[0]
# print(answer)

'Ïß§Ìà∞'

In [65]:
# Q10 20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?
a = df[['title','channelId']]
b = a.value_counts()
c = (b>=20).sum()
c

40

## Question2

In [68]:
# Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ïú†ÌäúÎ∏å "Í≥µÎ≤î" Ïª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Ï†ïÎ≥¥
dataurl1 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv'
dataurl2 = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv'

In [69]:
import pandas as pd

channel = pd.read_csv(dataurl2)
video = pd.read_csv(dataurl1)
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [117]:
# Q11 Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò 'ct'Ïª¨ÎüºÏùÑ ÏãúÍ∞ÑÏúºÎ°ú Ïù∏ÏãùÌï† Ïàò ÏûàÍ≤å datatypeÏùÑ Î≥ÄÍ≤ΩÌïòÍ≥† videoÎç∞Ïù¥ÌÑ∞Ïùò videonameÏùò Í∞Å valueÎßàÎã§ Î™á Í∞úÏùò Îç∞Ïù¥ÌÑ∞Ïî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÎùº
video.ct = pd.to_datetime(video.ct)
channel.ct = pd.to_datetime(channel.ct)

a = video.videoname.value_counts()
a

videoname
 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: count, dtype: int64

In [93]:
# Q12 ÏàòÏßëÎêú videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcountÍ∞íÏùÑ Ï∂úÎ†•ÌïòÎùº
a = video.groupby(['videoname'], as_index=False)['ct'].max()
b = pd.merge(a, video, on=['videoname','ct'],how='inner')[['videoname','viewcnt','ct']]
b

  videoname  viewcnt                   ct
0    Í≥µÎ≤î EP1  3180532  2021-11-01 15:30:03
1    Í≥µÎ≤î EP2  2199328  2021-11-01 15:30:03
2    Í≥µÎ≤î EP3  1671294  2021-11-01 15:30:03
3    Í≥µÎ≤î EP4  1818493  2021-11-01 15:30:03
4    Í≥µÎ≤î EP5  1503435  2021-11-01 15:30:04
5    Í≥µÎ≤î EP6  1750222  2021-11-01 15:30:04
6    Í≥µÎ≤î EP7  1630200  2021-11-01 15:30:05
7    Í≥µÎ≤î EP8  1289088  2021-11-01 15:30:05

In [99]:
channel

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π
...,...,...,...,...,...,...
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger
1394,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 15:01:07,Balming Tiger

In [109]:
# Q13 Channel Îç∞Ïù¥ÌÑ∞ Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ùÎêêÎçò Íµ¨ÎèÖÏûê Ïàò(subcnt)Î•º Ï∂úÎ†•ÌïòÎùº
condition = (channel['ct']>'2021-10-03')
target = channel[condition]
a = target.groupby(['channelname'])['ct'].min()
b = pd.merge(a,channel,on=['ct','channelname'],how='inner')[['channelname','subcnt']]
b

        channelname   subcnt
0     Balming Tiger    54300
1     Í≥ΩÌÜ†Î¶¨ kwak tori   471000
2        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
3               ÍΩàÎöúÎ£π  1330000
4            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
5       Î¶¥ÌéÑ Lilpearl    10100
6             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
7   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
8               Ï°∞ÎÇòÎã®   215000
9        Ï∏ÑÏ†ïChuJeong   322000
10          ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900

In [142]:
# Q14 Í∞ÅÏ±ÑÎÑêÏùò 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ÍπåÏßÄ Íµ¨ÎèÖÏûêÏàò (subcnt) Ïùò Ï¶ùÍ∞ÄÎüâÏùÑ Íµ¨ÌïòÏó¨Îùº
condition1 = (channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-10-03 03')
condition2 = (channel['ct'].dt.strftime('%Y-%m-%d %H') == '2021-11-01 15')

target1 = channel[condition1]
target2 = channel[condition2]

start = target1.groupby(['channelname'])['ct'].min().reset_index()
end = target2.groupby(['channelname'])['ct'].max().reset_index()

start_sub = pd.merge(channel,start,on=['channelname','ct'])[['channelname','subcnt']]
end_sub = pd.merge(channel,end,on=['channelname','ct'])[['channelname','subcnt']]


ans = pd.merge(start_sub, end_sub ,on=['channelname'])
ans['increase'] = ans['subcnt_y'].values - ans['subcnt_x'].values
ans

        channelname  subcnt_x  subcnt_y  increase
0               ÍΩàÎöúÎ£π   1330000   1400000     70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨    257000    268000     11000
2        Ï∏ÑÏ†ïChuJeong    322000    323000      1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞    922000    911000    -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle     55000     55000         0
5               Ï°∞ÎÇòÎã®    215000    227000     12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§     14900     25200     10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂      7520      9060      1540
8       Î¶¥ÌéÑ Lilpearl     10100     21100     11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori    471000    469000     -2000
10    Balming Tiger     54300     56800      2500

In [164]:
video.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15201 entries, 0 to 15200
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   videopk      15201 non-null  object
 1   viewcnt      15201 non-null  int64
 2   likecnt      15201 non-null  int64
 3   dislikecnt   15201 non-null  int64
 4   favoritecnt  15201 non-null  int64
 5   cmcnt        15201 non-null  int64
 6   ct           15201 non-null  datetime64[ns]
 7   videoname    15201 non-null  object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 950.2+ KB

In [167]:
print(video['videoname'].dtype)

object

In [206]:
# Q15 Í∞Å ÎπÑÎîîÏò§Îäî 10Î∂Ñ Í∞ÑÍ≤©ÏúºÎ°ú Íµ¨ÎèÖÏûêÏàò, Ï¢ãÏïÑÏöî, Ïã´Ïñ¥ÏöîÏàò, ÎåìÍ∏ÄÏàòÍ∞Ä ÏàòÏßëÎêúÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï°åÎã§. Í≥µÎ≤î EP1Ïùò ÎπÑÎîîÏò§Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞Ï§ë ÏàòÏßëÍ∞ÑÍ≤©Ïù¥ 5Î∂Ñ Ïù¥Ìïò, 20Î∂ÑÏù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Íµ¨Í∞Ñ( Ìï¥Îãπ ÏãúÏ†ê Ï†Ñ,ÌõÑ) Ïùò ÏãúÍ∞ÅÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº
import datetime

target = video.loc[video.videoname.str.contains('1')]

a = pd.DataFrame(target.ct.diff(1))
condition1 = a.ct<=datetime.timedelta(minutes=5)
condition2 = a.ct>=datetime.timedelta(minutes=20)

ans = a[condition1|condition2]
pd.DataFrame(ans['ct']).reset_index(inplace=True)
ans

                    ct
10   -3 days +02:20:00
418    0 days 01:50:00
721    0 days 14:21:34
722    0 days 00:00:00
1636   0 days 00:30:01

In [186]:
print(help('datetime.timedelta'))

Help on class timedelta in datetime:

datetime.timedelta = class timedelta(builtins.object)
 |  Difference between two datetime values.
 |
 |  timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
 |
 |  All arguments are optional and default to 0.
 |  Arguments may be integers or floats, and may be positive or negative.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  total_seconds(...)
 |      Total seconds in the duration.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  days
 |      Number of days.
 |
 |  microseconds
 |      Number of microseconds (>= 0 and less than 1 second).
 |
 |  seconds
 |      Number of seconds (>= 0 and less than 1 day).
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.timedelta(days=999999999, seconds=86399, microseconds=9...
 |
 |  min = datetime.timedelta(days=-999999999)
 |
 |  resolution = datetime.timedelta(microseconds=1)

None

In [219]:
# Q16 Í∞Å ÏóêÌîºÏÜåÎìúÏùò ÏãúÏûëÎÇ†Ïßú(ÎÖÑ-Ïõî-Ïùº)Î•º ÏóêÌîºÏÜåÎìú Ïù¥Î¶ÑÍ≥º Î¨∂Ïñ¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í≥† Ï∂úÎ†•ÌïòÎùº
ans = pd.DataFrame(video.groupby(['videoname'])['ct'].min().reset_index())
ans['date'] = ans['ct'].dt.strftime('%Y-%m-%d')
ans[['videoname','date']]

  videoname        date
0    Í≥µÎ≤î EP1  2021-10-07
1    Í≥µÎ≤î EP2  2021-10-09
2    Í≥µÎ≤î EP3  2021-10-14
3    Í≥µÎ≤î EP4  2021-10-16
4    Í≥µÎ≤î EP5  2021-10-21
5    Í≥µÎ≤î EP6  2021-10-23
6    Í≥µÎ≤î EP7  2021-10-28
7    Í≥µÎ≤î EP8  2021-10-30

In [224]:
video

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,Í≥µÎ≤î EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,Í≥µÎ≤î EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,Í≥µÎ≤î EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,Í≥µÎ≤î EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,Í≥µÎ≤î EP8

In [249]:
# Q17 ‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏†Ïùò Í≤ΩÏö∞ 19:00ÏãúÏóê Í≥µÍ∞ú ÎêòÎäîÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï†∏ÏûàÎã§. Í≥µÍ∞úÎêú ÎÇ†Ïùò 21ÏãúÏùò viewcnt, ct, videoname ÏúºÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ viewcntÎ•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï∂úÎ†•ÌïòÎùº
video['time'] = video.ct.dt.hour

a = video.loc[video['time']==21]
b = pd.DataFrame(a.groupby(['videoname'])['ct'].min().reset_index())
c = pd.merge(video, b, on=['videoname','ct'])
d = c[['viewcnt', 'ct', 'videoname']]
ans = d.sort_values(by='viewcnt',ascending=False)
ans

   viewcnt                  ct videoname
7   264029 2021-10-30 21:00:08    Í≥µÎ≤î EP8
5   252032 2021-10-28 21:00:04    Í≥µÎ≤î EP7
3   217674 2021-10-16 21:00:04    Í≥µÎ≤î EP4
6   213899 2021-10-23 21:00:06    Í≥µÎ≤î EP6
4   201179 2021-10-21 21:00:04    Í≥µÎ≤î EP5
1   148144 2021-10-09 21:00:03    Í≥µÎ≤î EP2
2   147183 2021-10-14 21:00:04    Í≥µÎ≤î EP3
0   117340 2021-10-07 21:00:03    Í≥µÎ≤î EP1

In [264]:
# Q18 video Ï†ïÎ≥¥Ïùò Í∞ÄÏû• ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú Í∞Å ÏóêÌîºÏÜåÎìúÏùò Ïã´Ïñ¥Ïöî/Ï¢ãÏïÑÏöî ÎπÑÏú®ÏùÑ ratio Ïª¨ÎüºÏúºÎ°ú ÎßåÎì§Í≥† videoname, ratioÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ratioÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎùº
target = pd.DataFrame(video.groupby(['videoname'])['ct'].max().reset_index())
a = pd.merge(target,video,on=['ct', 'videoname'])
a['ratio'] = a['dislikecnt']/a['likecnt']
ans = a.sort_values(by='ratio')
ans[['videoname', 'ratio']]

  videoname     ratio
6    Í≥µÎ≤î EP7  0.013636
5    Í≥µÎ≤î EP6  0.015881
3    Í≥µÎ≤î EP4  0.017971
4    Í≥µÎ≤î EP5  0.021128
2    Í≥µÎ≤î EP3  0.022360
0    Í≥µÎ≤î EP1  0.027118
1    Í≥µÎ≤î EP2  0.029844
7    Í≥µÎ≤î EP8  0.141357

In [260]:
target = video.sort_values('ct').drop_duplicates('videoname',keep='last')
target['ratio'] =target['dislikecnt'] / target['likecnt']
target

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time,ratio
11543,bK0_3Vbfvs8,1818493,22703,408,0,16949,2021-11-01 15:30:03,Í≥µÎ≤î EP4,15,0.017971
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,Í≥µÎ≤î EP1,15,0.027118
9263,GygoAk1hDU0,1671294,22719,508,0,12499,2021-11-01 15:30:03,Í≥µÎ≤î EP3,15,0.022360
6695,23QQ1ru9YQg,2199328,25566,763,0,9171,2021-11-01 15:30:03,Í≥µÎ≤î EP2,15,0.029844
13105,hv7FBjskAu0,1503435,19926,421,0,12434,2021-11-01 15:30:04,Í≥µÎ≤î EP5,15,0.021128
14934,AxGKHmXyuAE,1750222,24494,389,0,13025,2021-11-01 15:30:04,Í≥µÎ≤î EP6,15,0.015881
13660,QUjQbgj5IXM,1630200,29335,400,0,18247,2021-11-01 15:30:05,Í≥µÎ≤î EP7,15,0.013636
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,Í≥µÎ≤î EP8,15,0.141357

In [273]:
# Q19 2021-11-01 00:00:00 ~ 15:00:00ÍπåÏßÄ Í∞Å ÏóêÌîºÏÜåÎìúÎ≥Ñ viewcntÏùò Ï¶ùÍ∞ÄÎüâÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎìúÏãúÏò§
condition1 = video.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 00'
condition2 = video.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 14'
condition3 = video.ct.dt.strftime('%Y-%m-%d %H') == '2021-11-01 15'

start = video[condition1]
end = video[condition2]
check = video[condition3]

start_grouped = start.groupby(['videoname'])['ct'].min().reset_index()
end_grouped = end.groupby(['videoname'])['ct'].max().reset_index()
check_grouped = check.groupby(['videoname'])['ct'].min().reset_index() # can ignore

start_viewcnt = pd.merge(start_grouped, video, on=['videoname','ct'])
end_viewcnt = pd.merge(end_grouped, video, on=['videoname','ct'])

ans = pd.DataFrame({'videoname':start_grouped.videoname, 'start_viewcnt':start_viewcnt.viewcnt, 'end_viewcnt':end_viewcnt.viewcnt})

ans['change'] = ans.end_viewcnt - ans.start_viewcnt

ans[['videoname', 'change']]

  videoname  change
0    Í≥µÎ≤î EP1   13298
1    Í≥µÎ≤î EP2   10300
2    Í≥µÎ≤î EP3    9927
3    Í≥µÎ≤î EP4    9824
4    Í≥µÎ≤î EP5   10824
5    Í≥µÎ≤î EP6   14141
6    Í≥µÎ≤î EP7   26949
7    Í≥µÎ≤î EP8   89147

## Í∏∞Ï∂ú 7Ìöå Î≥ÄÌòï ÌíÄÏù¥

### ÏûëÏóÖ 1Ïú†Ìòï

In [ ]:
import pandas as pd
DataUrl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e7_p1.csv '

In [ ]:
# 1-1