In [1]:
import pandas as pd

## Question1

In [13]:
# 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
dataurl = "https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv"
df = pd.read_csv(dataurl)

In [3]:
df.head()
cols = df.columns
cols

Index(['Unnamed: 0', 'title', 'channelTitle', 'categoryId', 'view_count',
       'likes', 'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

In [4]:
# Q1 인기동영상 제작횟수가 많은 채널 상위 10개명을  출력하라 (날짜기준, 중복포함)
a = df.channelId.value_counts()
b = a.head(10).index # channelID에 대해 반환
c = df.channelId.isin(b)  # b에 포함되는 ID에 대해 boolean series 반환
d = df.loc[c]
e = d.channelTitle.unique()
ans = list(e)
ans

['장삐쭈',
 '총몇명',
 '파뿌리',
 '짤툰',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

In [5]:
# Q2 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라
ans = list(df.loc[df.dislikes>df.likes].channelTitle.unique())
ans

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

In [6]:
# Q3 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

# channelID는 동일한데 channelTitle이 바뀐 경우에 출력
# channelTitle의 unique값을 추출
# channelID에 대해 행의 개수가 1보다 큰 경우

cnt = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = cnt[cnt>1]
ans = len(target)
ans

71

In [27]:
# Q4 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?
df['trending_date2'] # select col, dtype : object
df['trending_date2'] = pd.to_datetime(df['trending_date2']) # change col value
a = df.loc[df.trending_date2.dt.day_name() == 'Sunday']
b = a.categoryId.value_counts()
ans = b.index[0]
ans

24

In [29]:
# Q5 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer = group.pivot(index='categoryId', columns='trending_date2')
answer

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [33]:
# Q6 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)
target2 = df.loc[df.view_count!=0] # view_count가 0이 아닌 영상 중
t = target2.copy() # target2를 수정하지 않기위해
t['ratio'] = (target2['comment_count']/target2['view_count'])
answer = t.sort_values(by='ratio', ascending=False).iloc[0].title
answer

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [36]:
# Q7 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)
target3 = t.loc[t.ratio != 0]
answer = target3.sort_values(by='ratio', ascending=True).iloc[0].title
answer

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [46]:
# Q8 like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)
target4 = df.loc[(df.likes != 0) & (df.dislikes!= 0)]
t = target4.copy()
t['ratio'] = t['dislikes']/t['likes']
answer = t.sort_values(by='ratio', ascending=True)
answer = answer.iloc[0].title
answer

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

In [54]:
# Q9 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)
a = df.channelId.value_counts()
b = a.index[0]
answer = df.loc[df.channelId == b].channelTitle.unique()[0]
answer
# answer = df.loc[df.channelId ==df.channelId.value_counts().index[0]].channelTitle.unique()[0]
# print(answer)

'짤툰'

In [65]:
# Q10 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?
a = df[['title','channelId']]
b = a.value_counts()
c = (b>=20).sum()
c

40

## Question2